{% extends "default/module.html.jinja2" %}
{% block nav_footer %}
    {% if footer_text %}
        <footer>{{ footer_text }}</footer>
    {% endif %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6Z0XHQRFQQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6Z0XHQRFQQ', {cookie_domain: 'landing-ai.github.io', cookie_flags: 'SameSite=None;Secure'});
    </script>
{% endblock %}